@using RecipeWebsite.ViewModels.PostViewModel

@model DetailPostViewModel

<!-- Page Content -->
@{
    var postInfo = Model.Posts;

    var postCategory = Model.Categories;

    var postTags = Model.Tags;
}

<div class="row">

    @{

    #region Table of content
        <div class="col-4">

            <!--Table of content-->
            <div class="position-sticky pt-lg-3">
                <aside class="bd-aside sticky-xl-top text-body-secondary align-self-start mb-3 mb-xl-5 px-2">

                    <!--Recipe Title-->
                    <div class="pt-4 pb-3 mb-4 border-bottom text-break">
                        
                        <h4>
                            
                            @Html.Raw(postInfo.Title.Replace("\n", "<br />"))
                        
                        </h4>

                        <p id="recipe-description">
                        
                            @Html.Raw(postInfo.Description.Replace("\n", "<br />"))
                        
                        </p>

                        <!-- Recipe Category -->
                        @{
                            var categoryId = postCategory.FirstOrDefault(p => p.Id == postInfo.Category);

                            var categoryName = categoryId?.CategoryName;
                        }
                        <p class="h5 fw-bold pt-1">Recipe Category:
                            <a asp-controller="Category" asp-action="Detail" asp-route-id="@postInfo.Category" 
                            class="link-body-emphasis" style="background-color: transparent"> @categoryName </a>
                        </p>
                    
                    </div>

                    <nav class="small" id="toc">
                        <ul class="list-unstyled">

                            <li class="my-2">
                                
                                <!-- Category-1 -->
                                <button class="btn d-inline-flex align-items-center collapsed border-0" data-bs-toggle="collapse" aria-expanded="false"
                                        data-bs-target="#contents-collapse" aria-controls="contents-collapse">Introduction</button>
                                
                                <!-- SubCategory-1 -->
                                <nav class="nav nav-pills flex-column">                                    
                                    <ul class="list-unstyled ps-3 collapse" id="contents-collapse">

                                        <li>
                                            <a class="d-inline-flex align-items-center rounded text-decoration-none" href="#recipe-image">Image</a>
                                        </li>

                                        <li>
                                            <a class="d-inline-flex align-items-center rounded text-decoration-none" href="#youtube-recipe-link">Youtube link</a>
                                        </li>

                                        <li>
                                            <a class="d-inline-flex align-items-center rounded text-decoration-none" href="#recipe-category">Category</a>
                                        </li>

                                    </ul>                                
                                </nav>

                            </li>

                            <li class="my-2">
                                
                                <!-- Category-2 -->
                                <button class="btn d-inline-flex align-items-center collapsed border-0" data-bs-toggle="collapse" aria-expanded="false"
                                        data-bs-target="#forms-collapse" aria-controls="forms-collapse">Recipe</button>
                                
                                <!-- SubCategory-2 -->
                                <ul class="list-unstyled ps-3 collapse" id="forms-collapse">

                                    <li>
                                        <a class="d-inline-flex align-items-center rounded text-decoration-none" href="#recipe-ingredients">Ingredients</a>
                                    </li>

                                    <li>
                                        <a class="d-inline-flex align-items-center rounded text-decoration-none" href="#recipe-body">Recipe</a>
                                    </li>
                                
                                </ul>

                            </li>

                        </ul>
                    </nav>

                </aside>

            </div>
        </div>
    #endregion

    #region Actual Content
        <!-- Actual Content -->
        <div class="col-8 pt-4 pb-3 mb-4">

            <nav id="navbar-example3" class="h-100 flex-column align-items-stretch ps-4 border-start pt-lg-3">
                <div data-bs-spy="scroll" data-bs-target="#navbar-example3" data-bs-smooth-scroll="true" class="scrollspy-example-2" tabindex="0">

                    <div class="row g-5">

                        <!-- Image -->
                        <div class="col-md-8 pe-5">

                            <!-- Recipe Tags -->
                            @if (postInfo.Tags != null)
                            {
                                var tags = postInfo.Tags.Split(',');
                                
                                foreach (var tag in tags)
                                {
                                    var tagId = postTags?.FirstOrDefault(p => p.Id == int.Parse(tag));

                                    var tagName = tagId?.TagsName;

                                    @if (tagName != null)
                                    {
                                        <a asp-controller="Tags" asp-action="Detail" asp-route-id="@tag" type="button" class="btn btn-outline-dark shadow-none btn-sm mb-2">@tagName</a>
                                    }
                                    
                                }
                            }
                            else
                            {
                                <p class="small text-secondary"> No tags available </p>
                            }

                            <h4 class="fw-normal mb-3">
                                <a class="link-dark" href="#recipe-image" id="recipe-image">Recipe Image</a>
                            </h4>
                            
                            <div class="shadow p-0 mb-4">

                                <img class="img-fluid rounded" src="@postInfo.Image" alt="" width="540" height="810">
                            
                            </div>
                        </div>

                        <!-- Recipe Details -->
                        <div class="col-md-4">

                            @{
                                var upload_date = @postInfo.Date.ToString("dd/MM/yyyy");

                                var views = postInfo.View;

                                var likes = postInfo.Like;

                                var dislikes = postInfo.Dislike;

                                var votes = likes + dislikes;
                            }

                            <!-- Date Uploaded -->
                            <p class="h6 fw-bold pt-lg-5">Date uploaded: 
                                <br />
                                @upload_date
                            </p>

                            <!-- Views -->
                            <p class="h6 fw-bold pt-lg-5">Views: @views</p>

                            <!-- Upvotes/Downvotes -->
                            <p class="h6 fw-bold pt-lg-5">Votes: @votes </p>
                            
                            <div class="btn-group" role="group" id="UserVotes" pt-1">
                                
                                <!-- Like -->
                                <input type="checkbox" class="btn-check" id="Likebtn" name="Votegroup[]" autocomplete="off">

                                <a asp-controller="Post" asp-action="Like" asp-route-id="@postInfo.Id" class="btn btn-outline-success btn-sm shadow-none" for="Likebtn" onclick="Like(@postInfo.Id, true)">@likes Likes</a>
                                
                                <!-- Dislike -->
                                <input type="checkbox" class="btn-check" id="Dislikebtn" name="Votegroup[]" autocomplete="off">

                                <a asp-controller="Post" asp-action="Dislike" asp-route-id="@postInfo.Id" class="btn btn-outline-danger btn-sm shadow-none" for="Dislikebtn">@dislikes Dislikes</a>
                            
                            </div>

                        </div>
                    </div>

                    <!-- Youtube Link -->
                    @if (postInfo.Link != null)
                    {
                        <h5 class="fst-italic pb-3 mb-4 border-bottom" id="youtube-recipe-link">
                            <a href="@Html.Raw(postInfo.Link.Replace("\n", "<br />"))" class="link-danger link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" target="_blank">Youtube Recipe Link</a>
                        </h5>
                    }
                    else
                    {
                        <hr />
                        // When link is null, do not display.
                    }


                    <!-- Ingredients -->
                    <h4 class="fw-normal mb-3">

                        <a class="link-dark" href="#recipe-ingredients" id="recipe-ingredients">Recipe Ingredients</a>

                    </h4>
                    
                    <div class="pb-3 mb-4 border-bottom">

                        <table class="table">

                            <thead class="table-dark">
                                <tr>
                                    <th scope="col">#</th>

                                    <th scope="col">Ingredient Name</th>

                                    <th scope="col">Ingredient Quantity</th>

                                </tr>
                            </thead>

                            @if (postInfo.Ingredient.Length != 0)
                            {
                                <tbody class="table-light">
                                    @{
                                        var ingredients = postInfo.Ingredient.Split(',');

                                        var i = 1;
                                        
                                        foreach (var ingredient in ingredients)
                                        {
                                            <tr>

                                                <th scope="row">@i</th>

                                                @if (ingredient.Contains('-'))
                                                {
                                                    <td>@ingredient.Split('-')[0]</td>

                                                    <td>@ingredient.Split('-')[1]</td>
                                                }
                                                else
                                                {
                                                    <td>@ingredient</td>

                                                    <td>...</td>
                                                }
                                            </tr>

                                            i++;
                                        }
                                    }
                                </tbody>
                            }
                            else
                            {
                                <caption>No ingredients</caption>

                                <tbody class="table">

                                    <tr>

                                        <th scope="row">...</th>

                                    </tr>

                                </tbody>
                            }

                        </table>
                    </div>

                    <!-- Recipe -->
                    <h4 class="fw-normal mb-3">

                        <a class="link-dark" href="#recipe-body" id="recipe-body">Recipe</a>

                    </h4>
                    
                    <p class="mb-4"> @Html.Raw(postInfo.Recipe.Replace("\n", "<br />")) </p>
                
                </div>

            </nav>

        </div>
    #endregion

    }
</div>

<!-- JQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

<!--Added JS-->
<script src="~/js/created/radio-checkbox.js"></script>

<!-- Added Ajax -->
<script src="~/js/created/like.js"></script>
<script src="~/js/created/dislike.js"></script>

<!--Adde CSS-->
<link rel="stylesheet" href="~/css/created/tableOfContent.css" />
