@using RecipeWebsite.ViewModels.PostViewModel;

@model EditPostViewModel

<!-- Header -->
<div class="py-5 text-center">
    <h2>Recipe Edit form</h2>
    <p class="lead">Need to Edit a Recipe? Edit here!</p>
</div>

<form method="post" asp-action="Edit" enctype="multipart/form-data" class="needs-validation" novalidate>

    <div class="row g-5">

        <div class="p-4 p-md-5 border rounded-3 bg-body-tertiary">

            <h4 class="mb-4">Recipe Details</h4>

            <!-- Title -->
            <div class="col-sm-12 mb-3">
                <label asp-for="Title" class="form-label">Recipe Title</label>
                <input asp-for="Title" type="text" class="form-control" id="title" placeholder="" required>
                <div class="invalid-feedback">
                    Recipe Title is required.
                </div>
            </div>

            <!-- Description -->
            <div class="col-sm-12 mb-3">
                <label asp-for="Description" class="form-label">Recipe Description</label>
                <input asp-for="Description" type="text" class="form-control" id="description" placeholder="" required>
                <div class="invalid-feedback">
                    Recipe Description is required.
                </div>
            </div>

            <!-- Link -->
            <div class="col-12 mb-3">
                <label asp-for="Link" class="form-label">Recipe Link</label>
                <div class="input-group has-validation">
                    <span class="input-group-text">@@</span>
                    <input asp-for="Link" type="text" class="form-control" id="link" placeholder="Youtube Recipe Link">
                </div>
                <div id="confirmPasswordHelpBlock" class="form-text">
                    Paste your youtube recipe link here.
                </div>
            </div>

            <!-- Recipe Category -->
            <div class="col-md-12 mb-3">
                <label asp-for="Category" class="form-label">Post Category</label>
                <br />
                <div class="form-check-inline">
                    @foreach (var item in Model.CategoryList)
                    {
                        <input type="radio" asp-for="Category" class="btn-check" id="@item.CategoryName" value="@item.Id" required>
                        <label asp-for="Category" class="btn btn-outline-primary" for="@item.CategoryName">@item.CategoryName</label>
                    }
                </div>
                <div class="invalid-feedback">
                    Please select a valid category.
                </div>
            </div>

            <!-- Collection Category -->
            <div class="form-group col-md-12 mb-3">
                <label asp-for="Tags" for="myMultiselect">Collection Category</label>
                @if (Model.TagsList.Count != 0)
                {
                    <div id="myMultiselect" class="multiselect">
                        <div id="mySelectLabel" class="selectBox" onclick="toggleCheckboxArea()">
                            <select class="form-select">
                                <option> #Input values go here</option>
                            </select>
                            <div class="overSelect"></div>
                        </div>
                        <div id="mySelectOptions">
                            @foreach (var item in Model.TagsList)
                            {
                                <label asp-for="Tags" for="@item.TagsName">
                                    <input type="checkbox" name="Tags" id="@item.TagsName" onchange="checkboxStatusChange()" value="@item.TagsName">
                                    @item.TagsName
                                </label>
                            }
                        </div>
                    </div>
                }
                else
                {
                    <select asp-for="Tags" class="form-select" disabled>
                        <option>No Tags available</option>
                    </select>
                }
                <div class="invalid-feedback">
                    Please select a valid category.
                </div>
            </div>

            <!-- Ingredients -->
            <div class="col-12 mb-3">
                <label asp-for="Ingredient" class="form-label">Ingredients</label>
                <textarea asp-for="Ingredient" type="text" class="form-control" id="ingredient" placeholder="ingredients goes here" required rows="5">Ingredients</textarea>
                <div class="invalid-feedback">
                    Ingredients are required.
                </div>
            </div>

            <!-- Recipe -->
            <div class="col-12 mb-3">
                <label asp-for="Recipe" class="form-label">Recipe</label>
                <textarea asp-for="Recipe" type="text" class="form-control" id="recipe" placeholder="recipe goes here" required rows="5">Recipe Body</textarea>
                <div class="invalid-feedback">
                    Recipe Body is required.
                </div>
            </div>

            <!-- Image -->
            <div class="col-12 mb-5">
                <label asp-for="Image">Image</label>
                <input asp-for="Image" type="file" class="form-control" id="imgInp" onchange="checkFileDetails()" placeholder="Thumbnail" required
                       oninput="pic.src=window.URL.createObjectURL(this.files[0])">
                <span asp-validation-for="Image" class="text-danger"></span>
                <div id="imageDimentionBlock" class="form-text">
                    Image dimentions are 720px weight and 1080px height
                </div>
                <img id="pic" src="#" alt="your image" class="img-thumbnail rounded" width="180" height="270" />
                <div class="invalid-feedback">
                    Recipe Thumbnail is required.
                </div>
                <p id="fileInfo"></p>
            </div>

            <!-- Submit -->
            <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                <button type="submit" class="btn btn-primary btn-lg px-4 gap-3">Post Recipe</button>
                <button type="reset" class="btn btn-secondary btn-lg px-4">Reset Form</button>
                <a class="btn btn-danger btn-lg px-4" asp-area="" asp-controller="Post" asp-action="Index">Cancel</a>
            </div>

        </div>

    </div>

</form>


<script src="~/js/created/recipeImage.js"></script>
<script src="~/js/created/validation.js"></script>
<script src="~/js/created/multiselect-dropdown.js"></script>

<!--Added CSS-->
<link rel="stylesheet" href="~/css/created/multiselect-dropdown.css" />